<h2>
    <span ng-bind-html="icon">{{ icon }}</span> Applemaniak Sondage Widget
    <a href="#/create/" class="add-new-h2">Nouveau sondage</a>
</h2>


<table class="wp-list-table widefat fixed striped posts">
    <thead>
    <tr>
        <th scope="col" class="manage-column column-title sorted desc">
            <a href="#"><span>Titre</span><span class="sorting-indicator"></span></a>
        </th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Reg ID
        </td>
        <td><?php echo "Reg Name"; ?></td>
        <td><?php echo "Reg Email"; ?></td>
    </tr>
    </tbody>

</table>